/*David Häusler/Tilman Dewes*/
@CHARSET "UTF-8";

body {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 200px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}


h1 {
	color: #777;
	text-decoration: none;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-size: 20px;
	text-decoration: none;
}

h2:after {
	content: "\A";
	white-space: pre;
}

a {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #424242;
}

a:hover {
	color: #6e6e6e;
	cursor: pointer;
}

input {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

label {
	display:block;
}

ul.impinfos, li.impinfos {
	list-style: none;
}

button {
	background-color: #424242;
	color: white;
	padding: 16px;
	font-size: 19px;
	border: 1px solid white;
	cursor: pointer;
}

button.nav:hover {
	background-color: #6E6E6E;
}

button.nav {
	background-color: #424242;
	color: white;
	padding: 16px;
	font-size: 19px;
	border: 1px solid white;
	width: 100px;
	cursor: pointer;
}

header {
	height: 120px;
    background-color: #FFF;
    position: fixed;  /* Header bleibt beim scrollen stehen */
    left: 0;
    right: 0;
    top: 0; /* Header fängt ganz oben an */
    z-index: 999; 	/*  z-Index wird vergeben damit Header immer im Vordergrund angezeigt wird  */
    border-bottom: 1px solid #424242;
    margin: 0 10% 0 10%;

}



#mainlogo {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 50px;
	margin-top: 10px;
}

#logo {
	height: 100px;
	width: 100px;
	float: left;
}

.woman, .men {
	position: fixed;
	display: inline-block;
	margin-top: 30px;
}

.woman {
	margin-left: 110px;
}

/*Formatierung Männer und Frauen Button*/
.dropbtn {
	background-color: #424242;
	color: white;
	padding: 16px;
	font-size: 19px;
	border: 1px solid white;
	width: 100px
}

/* Positioniern */
.dropdown-navi {
	display: inline-block;
	float: right;
}
/* Kästchen mit den Unterpunkten */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #6e6e6e;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a {
	background-color: #424242;
}

/* Unterpunkte werden beim hover hellgrau */
.dropdown-content a:hover {
	background-color: #6E6E6E;
	cursor: pointer;
}

/* Beim hover content anzeigen */
.dropdown-navi:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

/* Großer Button beim hover in hellgrau */
.dropdown-navi:hover .dropbtn {
	background-color: #6E6E6E;
	cursor: pointer;
}

#meinkonto:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

#suchleiste {
	float: left;
	margin-left: 260px;
	margin-top: 20px;
	border: 2px solid #999;
	border-radius: 0.5em;
	font-size: 12px;
	width: 15em;
	transition: width 0.5s ease-in-out;
	height: 35px;
	padding: 5px;
}

#email, #passwort {
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 30%;
	transition: width 0.5s ease-in-out;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}

#titel, #nachname, #vorname, #strasse, #hausnummer, #postleitzahl, #ort, #land{
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 50%;
	transition: width 0.5s ease-in-out;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}

#titelreg, #nachnamereg, #vornamereg, #emailreg, #pwreg, #pwreg2, #strassereg,
	#hausnrreg, #plzreg, #ortreg, #landreg{
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 50%;
	transition: width 0.5s ease-in-out;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}

input#profilBild {
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 30%;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}

select#titelreg, #titel {
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 10%;
	transition: width 0.5s ease-in-out;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}
/*#suchleiste:focus{
	font-size: 24px;
  	width: 20%;
}*/

#pwvorgabe{
	font-size: 10px;
	color: #6E6E6E;
	margin-left: 20px;
	
}
.icon {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}

.profil {
	margin-right: 40px;
	background-color: #fff;
	border: none;
	padding: 0px;
}

.warenkorb {
	display: inline-block;
	float: right;
}

section {
	width: 800px;
	float: left;
	margin-top: 30px;
	margin-bottom: 80px;
}

figcaption {
	text-align: center;
}

main {
	min-height: 100px;
}



/*Spalten auf der Startseite*/
.spalte-1,
.spalte-2,
.spalte-3 {
	width: 30%;
	padding-right: 10px;
	float: left;
/* 	text-align: justify; */
}

.

/* .flex-container { */
/*     display: flex; */
/* } */

/* .flex-item { */
/*     flex: auto; */
/*     margin: .5em; */
/*     padding: .5em; */
/* } */

/*Slider*/
@keyframes slider {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}
/* @ */
/* keyframes slider { 0% { */
/* 	left: 0; */
/* } */

/* 20% */
/* { */
/* left */
/* : */
 
/* 0; */
/* } */
/* 25% */
/* { */
/* left */
/* : */
 
/* -100%; */
/* } */
/* 45% */
/* { */
/* left */
/* : */
 
/* -100%; */
/* } */
/* 50% */
/* { */
/* left */
/* : */
 
/* -200%; */
/* } */
/* 70% */
/* { */
/* left */
/* : */
 
/* -200%; */
/* } */
/* 75% */
/* { */
/* left */
/* : */
 
/* -300%; */
/* } */
/* 95% */
/* { */
/* left */
/* : */
 
/* -300%; */
/* } */
/* 100% */
/* { */
/* left */
/* : */
 
/* -400%; */
/* } */
/* } */
/* #slider figure { */
/* 	position: relative; */
/* 	width: 500%; */
/* 	margin: 0px; */
/* 	left: 0; */
/* 	text-align: left; */
/* 	font-size: 0; */
/* 	animation: 16s slider infinite; */
/* } */

/* #slider { */
/* 	overflow: hidden; */
/* } */

/* #slider figure img { */
/* 	width: 20%; */
/* 	float: left; */
/* } */

#slider {
    overflow: hidden;
}

 #slider figure img {
    width: 20%;
    float: left;
}


 #slider figure {
    position: relative;
    width: 500%;
    margin: 0px 0px 0px 0px;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 12s slider infinite;
}


.bild {
	width: 200px;
	height: auto;
}

/* .markenbereich { */
/* 	border: 5px solid #dadada; */
/* 	float: left; */
/* 	height: 250px; */
/* 	width: 800px; */
/* } */
.angebot {
	float: right;
	height: 200px;
	width: 250px;
}

.halfsectionleft {
	height: 900px;
	width: 400px;
	float: left;
}

.halfsectionright {
	height: 900px;
	width: 400px;
	float: right;
}

#impressumpart {
	width: 400px;
	float: center;
	margin-left: 50px;
}

aside {
	float: right;
	width: 20%;
	margin-top: 50px;
	background-color: #dddddd;
	padding: 0px 5px 30px 5px;
}

footer {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #dddddd;
    height: 200px;
    z-index: 999;
    bottom: 0;
    /*position: absolute;*/
    right: 0;
    left: 0;
    /*margin: 0 10% 0 10%; */
}

#datenschutzlink {
	font-size: 15px;
}

#impressumlink {
	font-size: 15px;
	margin: 95px 0px 10px 0px;
}

.footer-left {
	float: left;
	height: 100px;
	width: 400px;
}

.footer-right {
	float: right;
	text-align: right;
}

@font-face {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

/* .payment-checkouts{ */
/* 	position: relative; */
/* 	display: block; */
/* 	box-sizing: border-box; */

/* } */
#beanie_cart {
	border: 2px groove #999;
	float: left;
	margin: 50px;
}

#letzte_zeile {
	border-bottom: 2px groove #999;
	background-color: lightgrey;
}

tr.border_top td {
	border-top: 2px groove #999;
}

#kreditsubmit {
	background-color: #424242;
	color: white;
}

#add-cart {
	text-align: center;
}

tr.seperation td {
	padding-bottom: 5px;
    padding-top: 5px;
	border-bottom: 1px solid #dddddd;
}

/*Artikel in Tabelle geordnet anzeigen*/
table {
	width: 100%;
}

thead {
	background-color: #6E6E6E;
}

th {
	text-align: left;
	color: #fff;
	padding: 5px;
}

/*Kategorie Buttons im Design eines Registers*/
form#kategorie {
	display: inline;
}

form#kategorie button {
	margin-bottom: 10px;
}

.small-icon {
	width: auto;
	height: 40px;
	vertical-align: middle;
	margin-right: 5px;
}

/* .search-icon { */
/* 	width: auto; */
/* 	height: 20px; */
/* 	vertical-align: middle; */
/* 	margin: 2.3% 1% 0% 1%; */
/* } */

.hidden{
	display: none;
}

.show{
	display: inline;
}

.adminShowButton{
	width: 300px;
}

div#lieferanten{
	margin: 15px;

}
/*Kontakt*/
#knt_betreff, #knt_nachname, #knt_vorname, #knt_email, #knt_grund{
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 50%;
	transition: width 0.5s ease-in-out;
	height: 30px;
	padding: 5px;
	padding-left: 10px;
}

#knt_nachricht{
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 50%;
	transition: width 0.5s ease-in-out;
	height: 200px;
	padding: 5px;
	padding-left: 10px;
}
#knt_grund {
	border: 2px solid #999;
	border-radius: 0.5em;
	margin: 5px 20px 5px 20px;
	font-size: 12px;
	width: 51.288%;
	transition: width 0.5s ease-in-out;
	height: 44px;
	padding: 5px;
	padding-left: 10px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	
}