@CHARSET "UTF-8";
body{
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Courier New';
}

h1 {
	color: #777;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 30px;
}

h2{
	font-size: 20px;
	float: left;
	line-break: strict;
}

a {
	font-family: 'Montserrat';
	color: #424242;
}

a:hover {
	color: #6e6e6e;
}

button,
input {
	font-family: 'Montserrat';
	
}

header{
	padding: 10px;
	height: 120px;
	width: 80%;

	background-color: #FFF;
	position: fixed; /* Header bleibt beim scrollen stehen */
	top: 0;  /* Header fängt ganz oben an */
	z-index: 999; /*  z-Index wird vergeben damit Header immer im Vordergrund angezeigt wird  */
	border-bottom: 1px solid #424242;
}

#mainlogo{
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 50px;
	margin-top: 25px;
}


#logo {
	height: 100px;
	width: 100px;
	float: left;
}



.dropbtn {
  background-color: #424242;
  color: white;
  padding: 16px;
  font-size: 19px;
  border: 1px solid white;
  width:100px
}

/* Positioniern */
.dropdown-navi {
  position: fixed;
  display: inline-block;
  margin-top: 45px;
}

/* Kästchen mit den Unterpunkten */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6e6e6e;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-navi.woman {
	margin-left: 110px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a  {
	background-color: #424242;
}

/* Unterpunkte werden beim hover hellgrau */
.dropdown-content a:hover {background-color: #6E6E6E;}

/* Beim hover content anzeigen */
.dropdown-navi:hover .dropdown-content {display: block;}

/* Großer Button beim hover in hellgrau */
.dropdown-navi:hover .dropbtn {background-color: #6E6E6E;}



#suchleiste{
	
	float: left;
	margin-left: 260px;
	margin-top: 40px;
	
	border: 2px solid #999;
	border-radius: 0.5em;;
	font-size: 20px;
	width: 8em;
	transition: width 0.5s ease-in-out;
  	
}

/*#suchleiste:focus{
	font-size: 24px;
  	width: 20%;
}*/



#meinkonto{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	
	float: right;
	width: 50px;
	height: 50px;
}

#warenkorb{
	margin-left: 50px;
	/*margin-right: 100px;*/
	margin-top: 30px;
	
	float: right;
	width: 50px;
	height: 50px;
}

section {
	width: 800px;
	height: 1100px;
	float: left;
	margin-top: 200px; /*wird benötigt damit content erst unter header beginnt*/
	
}

figcaption{
	text-align: center;
}


#modelbilderrechts{
	float: right;
	margin-top: 20px;
}

#modelbilderlinks{
	float: right;
	margin-top: 20px;
}

.intro{
	height: 100px;
	width: 800px;
}

main {
    min-height: 100px;

}

.flex-container {
    display: flex;
}

.flex-item {
    flex: auto;
    margin: .5em;
    padding: .5em;
}

.flex-item ul {
	display: none;
}

.markenbereich{
	border: 5px solid #dadada;
	
	float: left;
	height: 250px;
	width: 800px;
}


.angebot{
	float: right;
	height: 200px;
	width: 250px;

}

.halfsectionleft{
	height: 900px;
	width: 400px;
	float: left;
}

.halfsectionright{
	height: 900px;
	width: 400px;
	float:right;
}

#impressumpart{
	width: 400px;
	float: center;
	margin-left: 50px;
}



aside {
	height: 900px;
	float: right;
	margin-top: 200px; /*wird benötigt damit content erst unter header beginnt*/
	
}

	

footer {
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #dddddd;
	height: 150px;
}




#servicehotline{
	height: 100px;
	width: 400px;
	float: left;
	
}

#impressumlink{
	text-align: middle;
	float: right;
	font-size: 15px;
}

@font-face { 
	font-family: ''Montserrat'';
	src: url("../⁨css/'Montserrat'.ttf") format("truetype");
}


/* .payment-checkouts{ */
/* 	position: relative; */
/* 	display: block; */
/* 	box-sizing: border-box; */
	
/* } */

.to-cash{
	cursor: pointer;
	display: inline-block;
	align-content: center;
	background-color: rgb(0,0,0);
	color: #fff;
	width: 100%;
	
}

#beanie_cart{
	border: 2px groove #999;
	float: left;
	margin: 50px;
}

#letzte_zeile{
	border-bottom: 2px groove #999;
  background-color: lightgrey;
}

tr.border_top td{
	border-top: 2px groove #999;
}

#kreditsubmit{
	background-color: #424242;
	color: white;
}
